<a routerLink="./cadastro">Novo Cadastro</a>
<table class="table">
    <thead>
      <tr>        
        <th scope="col">Nome do Produto</th>
        <th scope="col">Quantidade</th>
        <th scope="col">Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let produto of produtos">        
        <td>{{produto.nome}}</td>
        <td>{{produto.quantidade}}</td>
        <td>
          <button (click)="editar(produto.id)" class="btn btn-primary">Editar</button>
          <button (click)="excluir(produto.id)" class="btn btn-danger">Excluir</button>
        </td>
      </tr>      
    </tbody>
  </table>