<form>
    <div class="row mb-3">
      <label for="nome" class="col-sm-2 col-form-label">Nome do Produto</label>
      <div class="col-sm-10">
        <select [(ngModel)]="id" name="id" class="form-select" aria-label="Default select example">
            <option selected>Menu de Produtos</option>
            <option *ngFor="let produto of produtos" value="{{produto.id}}">{{produto.nome}}</option>                        
          </select>
      </div>
    </div>
    <div class="row mb-3">
      <label for="quantidade" class="col-sm-2 col-form-label">Quantidade</label>
      <div class="col-sm-10">
        <input [(ngModel)]="quantidade" name="quantidade" type="number" class="form-control" id="quantidade">
      </div>
    </div>   
    
    <button (click)="finalizar()" class="btn btn-primary">Finalizar </button> 
    
  </form>