<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" >Loja de Variedades</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li *ngIf="ehAdministrador()" class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="gestao">Gestão</a>
          </li>
          <li *ngIf="ehCliente()" class="nav-item">
            <a class="nav-link" routerLink="compras">Compras</a>
          </li>           
        </ul>
        <form *ngIf="!estaLogado()" class="d-flex">
            <input [(ngModel)]="login" name="login" class="form-control me-2" type="text" placeholder="Login" aria-label="Login">
            <input [(ngModel)]="senha" name="senha" class="form-control me-2" type="password" placeholder="Senha" aria-label="Senha">
            <button class="btn btn-success" (click)="sendLogin()">Login</button>
          </form>
          <form *ngIf="estaLogado()" class="d-flex">
            Está logado como {{getFuncao()}}
            <button class="btn btn-danger" (click)="logout()">Logout</button>
          </form>
      </div>
    </div>
  </nav>
